@use '@angular/material' as mat;

.modal-content {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 24px;
  row-gap: 16px;
}

.modal-divisor {
  width: 100%;
  height: 1px;
}

form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
