@use '@angular/material' as mat3;

$my-app-light-theme: mat3.define-colors(
  (
    primary: mat3.$spring-green-palette,
    theme-type: light,
  )
);
$my-app-dark-theme: mat3.define-colors(
  (
    primary: mat3.$spring-green-palette,
    theme-type: dark,
  )
);

body.dark-theme {
  @include mat3.all-component-themes($my-app-dark-theme);
}
body.light-theme {
  @include mat3.all-component-themes($my-app-light-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
